.dashboard {
  display: flex;
  flex-wrap: wrap;

  &__weather {
    margin-bottom: 1rem;
    margin-right: 1rem;
    
    @media only screen and (max-width: 750px) {
      min-width: 25rem;
      flex: 1;
    }
  }
}